= link_to new_game_url, class: 'vibes hvr-outline-out' do
  .vibe
    %h3 There is no ongoing game
    %h1 Start your game now
    %p
      And we will count your score with rocket science precise

.text-center
  %h3
    = notice