.extended-mixtapes-header
  %h3
    Current Game

%section
  .submit-container
    %form{method: 'post', role: 'form'}
      %input{name: 'email', placeholder: 'Knocked pins', type: 'number'}/
      %button{type: 'submit', value: 'submit'}
        Submit Throw

.extended-mixtapes-header
  %h3
    Scores

%table.score-table.table.table-condensed.text-center
  %thead
    %tr
      %td{colspan: 3} 1
      %td{colspan: 3} 2
      %td{colspan: 3} 3
      %td{colspan: 3} 4
      %td{colspan: 3} 5
      %td{colspan: 3} 6
      %td{colspan: 3} 7
      %td{colspan: 3} 8
      %td{colspan: 3} 9
      %td{colspan: 3} 10
      %td{colspan: 3} Total
  %tbody
    %tr
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell'}
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        7
      %td{class: 'input-cell'}
        \/
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        8
      %td{class: 'input-cell'}
        1
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        7
      %td{class: 'input-cell'}
        \/
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        5
      %td{class: 'input-cell'}
        0
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        0
      %td{class: 'input-cell'}
        6
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell'}
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell'}
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        8
      %td{class: 'input-cell'}
        0
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell'}
        X
      %td{class: 'input-cell no-border', colspan: 3} &nbsp;
    %tr
      %td{class: 'result-cell', colspan: 3}
        %h2 20
      %td{class: 'result-cell', colspan: 3}
        %h2 38
      %td{class: 'result-cell', colspan: 3}
        %h2 47
      %td{class: 'result-cell', colspan: 3}
        %h2 62
      %td{class: 'result-cell', colspan: 3}
        %h2 67
      %td{class: 'result-cell', colspan: 3}
        %h2 73
      %td{class: 'result-cell', colspan: 3}
        %h2 101
      %td{class: 'result-cell', colspan: 3}
        %h2 119
      %td{class: 'result-cell', colspan: 3}
        %h2 127
      %td{class: 'result-cell', colspan: 3}
        %h2 157
      %td{class: 'result-cell', colspan: 3}
        %h2 157

%p#notice= notice

%p
  %b Total:
  = @game.total

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
